<a href="#" ng-repeat="nav in navs" ng-class="{'active': nav.isActive}">
  <img ng-if="!nav.isActive" ng-src="{{nav.inactive}}" alt="{{nav.label}}">
  <img ng-if="nav.isActive" ng-src="{{nav.active}}" alt="{{nav.label}}">
  <div ng-bind="nav.label"></div>
</a>