$box_size: 70px;
$box_thick: 1px;
$box_border:  $box_thick solid black;

[bl-game]{
  width: 347px;
  margin: 0 auto;
}

[bl-score]{
  @include cf();
}

.bowl-frame{
  width: $box_size;
  height: $box_size;
  border: $box_border;
  margin-right: -$box_thick;
  float: left;
  text-align: center;
  line-height: 2;

  .bowl-frame--throw-one{
    width: 50%;
    height: 50%;
    float: left;
  }

  .bowl-frame--throw-two{
    width: 50%;
    height: 50%;
    float: left;
    border-left: $box_border;
    border-bottom: $box_border;
  }
}