button{
  width: 100px;
  height: 37px;
  border: none;
  cursor: pointer;
  margin: 2px;
  font-size: .8em;

  &[disabled]{
    opacity: .5;
  }

  &.primary{
    color: white;
    background-color: $color_primary;
  }

  &.block{
    display: block;
  }
}