/*********************/
/*********************/
/***    10pins    ***/
/*********************/
/*********************/

// @font-face {
//   font-family: 'HelveticaNeue-CondensedBold';
//   font-weight: 900;

//   src: url('../fonts/helveticaneue-condensedbold-webfont.eot');
//   src: url('../fonts/helveticaneue-condensedbold-webfont.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/helveticaneue-condensedbold-webfont.woff') format('woff'),
//   url('../fonts/helveticaneue-condensedbold-webfont.ttf') format('truetype'),
//   url('../fonts/helveticaneue-condensedbold-webfont.svg#helvetica_neuecondensed_bold') format('svg');

// }


// *** Variables ***

// Colors
$color_navbg: #454a4f;
$color_headerbg: darkorange;
$color_subhead: darkorange;
$color_subhead_bg: #ddd;

$color_primary: darkorange;

$nav_height: 40px;
$header_height: 60px;
$subheader_height: 40px;

// Fonts
$font_default: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font_awesome: "FontAwesome";

// Sizes
$size_base: 16px;

// *** partials ***
@import 'mixins';
@import 'reset'; //html5 shim
@import 'clearfix'; //cf hack
@import 'boxsizing';
@import 'mobile'; //mobile web spoiled (ontap highlight & co)

// *** app ***
@import 'bowling';
@import 'buttons';
@import 'main';

