body{
  height:100%;
  width:100%;
  margin:0px;
  padding:0px;
  font-family: $font_default;
}

.app{
  overflow: hidden;
  height: 100%;

  >*{
    position: absolute;
    width: 100%;
  }

  nav{
    bottom: 0px;
    height: $nav_height;
    background: $color_navbg;
  }

  .page{
    top: 0px;
    bottom: $nav_height;
  }
}
